main {
  width: 600px;
  margin: 50px auto;
  padding: 20px;
}

h1{
  text-align: center;
}

input, select {
  padding: 8px;
  margin: 5px;
}

button{
  padding: 8px 12px;
  margin:5px;
  cursor: pointer;
}

div{
  border: 1px solid gray;
  padding: 10px;
  margin-top: 10px;
}

.todo-card{
  border: 1px solid gray;
  padding: 10px;
  margin-top: 10px;
  border-radius: 5px;
}

.add-task {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
}

.todo-info{
  display: flex;
  justify-content: space-between;
}
.update-section{
  margin-top: 10px;
  display:flex;
  align-items: center;
}